[data-theme="light"] {
    --slider: #bbf1bb;
    --background: #fafafa;
    --calculadora: #808080;
    --calculadora-shadow: #5c5c5c;
    --display: #bbf1bb;
    --display-numbers: #387438;
    --buttons: #ffffff;
    --buttons-shadow: #5c5c5c;
    --numero: #000000;
    --footer: #b8b8b8;
    --footer-text: #111111;
}

[data-theme="dark"] {
    --slider: #ffa500;
    --background: #0a0a0a;
    --calculadora: #2e2e2e;
    --calculadora-shadow: #1e1e1e;
    --display: #387438;
    --display-numbers: #bbf1bb;
    --buttons: #5c5c5c;
    --buttons-shadow: #1c1c1c;
    --numero: #ffffff;
    --footer: #111111;
    --footer-text: #ffffff;
}

:root{
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    padding: 10px;
    background-color: var(--calculadora);
    border-radius: 20px;
    justify-content: center;
    box-shadow: 4px 8px var(--calculadora-shadow);
}

.display{
    display: flex;
    margin: 10px 10px 20px;
    padding: 16px;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--display);
    grid-column: 1 / -1;
    color: var(--display-numbers);
    border-radius: 10px;
    word-break: break-all;
    font-size: 30px;
}

button{
    border-radius: 10px 10px 25px 25px;
    box-shadow: 2px 4px var(--buttons-shadow);
    background-color: var(--buttons);
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border: none;
    font-size: 18px;
    user-select: none;
    outline: none;
    /*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

button:active {
    box-shadow: inset 0 0 60px rgb(44, 44, 44);
}

.numero{
    color: var(--numero);
}

button:focus {
    outline-color: transparent; 
    outline-style: none;
}

.operador{
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #ffa500;
    box-shadow: 2px 4px #8d5c00;;
}

.borrador{
    background-color: #b6b6b6;
    box-shadow: 2px 4px #555555;
}

#resultado{
    text-align: right;
    font-size: 35px;
}

.footer__container{
    display: flex;
    padding: 50px 0;
    flex-direction: column;
    background-color: var(--footer);
    font-size: 18px;
    color: var(--footer-text);
    justify-content: center;
    align-items: center;
    
}

.footer__container__social i{
    font-size: 35px;
    margin: 16px 10px 0 10px;
    color: var(--footer-text);
}

/*---------*/

.switch {
    position: relative;
    justify-self: center;
    align-self: center;
    width: 60px;
    height: 34px;
}

/*descativa check original*/
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555555;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--slider);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}